<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Bienvenido a la vista de operaciones de mongo</h1>
<div>

    <p>En esta parte se explicarán cuales son las transacciones tipicas de una base de datos CRUD con mongodb. Las operaciones son las siguientes</p>
    <ul>
        <li>Selección</li>
        <li>Creación</li>
        <li>Actualizacion</li>
        <li>Borrado</li>

    </ul>

</div>
    
</body>
</html>

