<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de respuesta</title>
</head>

<body>

    <h1>Ejemplo de vista</h1>
    <p>Esto es un ejemplo de vista que será cargada directamente desde una ruta, utilizando el método renderer <br />
        Adicionalmente se han pasado a los siguientes parámetros
    </p>
    <ul>
        <li> <%=id%>
        </li>
    </ul>

</body>

</html>